.card-employee {
  padding: 1.5rem;
  height: 450px;
}

.title-employee {
  padding-bottom: 1.5rem;
}
.cart-statist {
  display: flex;
  justify-content: space-between;
}

.cart-avatar {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.avatar {
  margin-right: 12px;
  border-radius: 5px;
}
.cart-recharts {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}
