//$until - до
// $from - от

// @media screen and (max-width: 767px) {
//   .box-logo {
//     display: none;
//   }
// }

.box-logo {
  position: absolute;
  top: rem(20px);
  left: rem(20px);
}

.logo {
  width: rem(100px);
  height: rem(80px);
}

@include mq($until: tablet) {
  .box-logo {
    top: rem(100px);
    left: rem(200px);
  }

  .logo {
    width: rem(60px);
    height: rem(40px);
  }
}
