.card-prize {
  background: $white;
}

.prize-medal {
  width: 77px;
  height: 132px;
  position: absolute;
  top: 0;
  right: 30px;
}

.prize-title {
  color: #5e5873;
}
.prize-text {
  color: #6e6b7b;
}

.prize-currency {
  margin-top: rem(50px);
  margin-bottom: rem(12px);
  color: $primary-color;
}

.prize-button:hover,
.prize-button:focus {
  box-shadow: 0 8px 25px -8px #7367f0;
}
