.card-timeline {
  padding: rem(21px);
  height: 515px;
}

.timeline-list {
  margin: 0;
  padding: 0;
}

.timeline-item {
  margin-left: rem(5px);
  padding-left: rem(28px);
  border-left: 1px solid #d8d6de;
  list-style-type: none;
  position: relative;
}

.timeline-item:not(:last-child) {
  padding-bottom: rem(28px);
}

.timelile-point {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  left: -6px;
  // background-color: type;
}

.timelile-point::before {
  content: '';
  z-index: 1;
  width: 20px;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: rgba(115, 103, 240, 0.12);
}

.box-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(7px);
}

.timelineitem-text {
  margin-bottom: rem(14px);
}
